.formControl.error input,
.formControl.error textarea{
    border: solid red 2px;
    height: 26px;
}

.formControl.error span{
    color: red;
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
}

.formSummaryError{
    padding: 5px;
    color: red;
}