.i_img_profile {
    width: 100%;
    height: 240px;
}

.i_img_avatar {
    width: auto;
    height: 150px;
}

.profileinfo {}

.i_username {
    padding: 10px;
    font-size: 34px;
    font-style: italic;
    color: rgb(68, 155, 41);
    font-weight: 400;
}