.post {
    color: black;
    padding: 10px;
}

.likes {
    display: block;
    color: aquamarine;
}

.post img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.item {
    color: chartreuse;
}