.app-wrapper {
    margin: 0 auto;
    max-width: 100%;
    min-height: 920px;
    display: grid;
    grid-template-areas:
        "h h"
        "n p"
        "f f";
    grid-template-rows: 90px 1fr 60px;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-login {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "l l"
        "f f";
    grid-template-rows: 78% 22%;
    grid-template-columns: 50% 50%;
    max-width: 100%;
    min-height: 920px;
}
.app-wrapper-content {
    grid-area: p;
    background-color: rgb(243, 247, 240);
}
