.dialogs {
    background-color: rgb(61, 80, 80);
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs_items {
    padding: 10px;
}
.dialogs_items .active {
    color: gold;
}
.messages {
    color: rgb(216, 230, 230);
    padding: 10px;
}
