.nav {
    grid-area: n;
    background-color: blueviolet;
    padding: 20px;
}

.item {
    color: white;
    text-decoration: none;
}
.active {
    color: rgb(216, 13, 40);
    text-decoration: none;

}