.nav {
    grid-area: n;
    padding: 0px;
    background-color: rgba(130, 130, 130, 30%);
}

.item {
    color: #ffa700;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
   
}
.active {
    color: rgb(247, 75, 7);
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    transition-duration: 0.1s;
}